@model WebAppEjecucion.Models.Programa

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Programa</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Programa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programa1)
        </dd>

    </dl>
</div>
<p>
 
    @Html.ActionLink("Atras", "Index", "Programas", null, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPrograma }, new { @class = "btn btn-warning" })


</p>
