<div style="padding:20px; color:red">
    <h4>Usuario Bloqueado</h4>
    <h4>
        El usuario actualmente se encuentra bloqueado, comuníquese con el administrador del sistema.
    </h4>
    <h6>@Html.ActionLink("Volver al login", "Login", "Account", null, new { @class = "btn btn-success" })</h6>
    <br />
    <br />
</div>
