
<div style="padding:20px; color:red">
    <h4>Error de permisos. Acceso denegado</h4>
    <h4>
       No tiene permisos para acceder a la página solicitada.
    </h4>
    <h6>@Html.ActionLink("Home", "Index", "Obras", null, new { @class = "btn btn-success" })</h6> 
    <br />
    <br />
</div>