<div style="padding:20px; color:red">
    <h3>
        Error 500
    </h3>
    <h4>Error interno del servidor</h4>
    <h4>
        El servidor ha encontrado una situación que no sabe como manejarla.
    </h4>
    <h6>@Html.ActionLink("Home", "Index", "Obras", null, new { @class = "btn btn-success" })</h6>
    <br />
    <br />
</div>
