@model WebAppEjecucion.Models.Prototipos

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Prototipo</h2>

<h3>¿Seguro que desea elimninar el prototipo del sistema?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Prototipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prototipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index", "Prototipos", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
