@model WebAppEjecucion.Models.Prototipos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Prototipo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prototipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prototipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atras", "Index", "Prototipos", null, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Editar", "Edit", "Prototipos", new { id = Model.IdPrototipo }, new { @class = "btn btn-primary" })
</p>
