USE [db_IPV_Ejecucion]
GO
/****** Object:  User [user_ejecucion]    Script Date: 6/3/2019 12:15:00 p. m. ******/
CREATE USER [user_ejecucion] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [usuario1]    Script Date: 6/3/2019 12:15:00 p. m. ******/
CREATE USER [usuario1] FOR LOGIN [usuario1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [usuario1]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [usuario1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avance]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avance](
	[IdAvance] [int] IDENTITY(1,1) NOT NULL,
	[porcentajePrevisto] [float] NOT NULL,
	[porcentajeReal] [float] NULL,
	[porcentajeAtraso] [float] NULL,
	[IdObra] [int] NULL,
	[FechaAvance] [date] NULL,
 CONSTRAINT [PK_Avance] PRIMARY KEY CLUSTERED 
(
	[IdAvance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadoObra]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadoObra](
	[IdCertificadoObra] [int] IDENTITY(1,1) NOT NULL,
	[IdObra] [int] NOT NULL,
	[NroCertificado] [nchar](10) NULL,
	[FechaCertificado] [date] NOT NULL,
	[MesCorresp] [int] NOT NULL,
	[AnioCorresp] [int] NOT NULL,
	[ImporteCertificado] [float] NOT NULL,
	[ImpCertUVI] [float] NOT NULL,
	[ImpRetencion] [float] NOT NULL,
	[ImpRetencionUVI] [float] NOT NULL,
 CONSTRAINT [PK_CertificadoObra] PRIMARY KEY CLUSTERED 
(
	[IdCertificadoObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadoPago]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadoPago](
	[IdCertPago] [int] IDENTITY(1,1) NOT NULL,
	[IdObra] [int] NOT NULL,
	[NroCertPago] [nchar](50) NOT NULL,
	[FechaCertPago] [date] NOT NULL,
	[CorrespMes] [int] NOT NULL,
	[CorrespAnio] [int] NOT NULL,
 CONSTRAINT [PK_CertificadoPago] PRIMARY KEY CLUSTERED 
(
	[IdCertPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadoPagoDetalle]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadoPagoDetalle](
	[IdCertPagoDetalle] [int] NOT NULL,
	[IdCertPago] [int] NOT NULL,
	[PorcentajePrevMensual] [float] NOT NULL,
	[PorcentajePrevAcumulado] [float] NOT NULL,
	[PorcentajeFisicoMensual] [float] NOT NULL,
	[PorcentajeFisicoAcumuladol] [float] NOT NULL,
	[IdRubro] [int] NOT NULL,
 CONSTRAINT [PK_CertificadoPagoDetalle] PRIMARY KEY CLUSTERED 
(
	[IdCertPagoDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificados]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificados](
	[IdCertificado] [int] IDENTITY(1,1) NOT NULL,
	[Certificado] [varchar](50) NOT NULL,
	[IdTipoCertificado] [int] NULL,
 CONSTRAINT [PK_Certificados] PRIMARY KEY CLUSTERED 
(
	[IdCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DptoProvincia]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DptoProvincia](
	[IdDptoProvincia] [int] IDENTITY(1,1) NOT NULL,
	[DptoProvincia] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DptoProvincia] PRIMARY KEY CLUSTERED 
(
	[IdDptoProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresaConstructora]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaConstructora](
	[IdEmpConstructora] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaConstructora] [varchar](100) NOT NULL,
 CONSTRAINT [PK_EmpresaConstructora] PRIMARY KEY CLUSTERED 
(
	[IdEmpConstructora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas](
	[IdEntrega] [int] IDENTITY(1,1) NOT NULL,
	[FechaEntrega] [date] NOT NULL,
	[CantEntregada] [int] NOT NULL,
	[IdrelaObraPrototipo] [int] NOT NULL,
 CONSTRAINT [PK_Entregas] PRIMARY KEY CLUSTERED 
(
	[IdEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipoInformatico]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoInformatico](
	[IdEquipoInformatico] [int] IDENTITY(1,1) NOT NULL,
	[EquipoInformático] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EquipoInformatico] PRIMARY KEY CLUSTERED 
(
	[IdEquipoInformatico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoObra]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoObra](
	[IdEstadoObra] [int] IDENTITY(1,1) NOT NULL,
	[EstadoObra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoObra] PRIMARY KEY CLUSTERED 
(
	[IdEstadoObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movilidad]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movilidad](
	[IdMovilidad] [int] IDENTITY(1,1) NOT NULL,
	[Movilidad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Movilidad] PRIMARY KEY CLUSTERED 
(
	[IdMovilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obra]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obra](
	[IdObra] [int] IDENTITY(1,1) NOT NULL,
	[expMatriz] [varchar](50) NULL,
	[Obra] [varchar](100) NOT NULL,
	[ACCU] [varchar](50) NULL,
	[IdDptoProvincia] [int] NULL,
	[IdPrograma] [int] NULL,
	[IdEmpConstructora] [int] NULL,
	[cantParaSorteo] [int] NULL,
	[montoOriginal] [float] NULL,
	[licitacionResolucion] [varchar](50) NULL,
	[plazoOriginal] [int] NULL,
	[fechaFinalizacion] [date] NULL,
	[MontoContratoPesos] [float] NULL,
	[MontoContratoUVI] [float] NULL,
	[FechaOferta] [date] NULL,
	[FechaInicio] [date] NULL,
 CONSTRAINT [PK_Obra] PRIMARY KEY CLUSTERED 
(
	[IdObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Param_Meses]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Param_Meses](
	[IdMes] [int] NOT NULL,
	[Mes] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Param_Meses] PRIMARY KEY CLUSTERED 
(
	[IdMes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[ApellidoNombre] [varchar](100) NOT NULL,
	[Documento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contratados] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programa]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programa](
	[IdPrograma] [int] IDENTITY(1,1) NOT NULL,
	[Programa] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Programa] PRIMARY KEY CLUSTERED 
(
	[IdPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prototipos]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prototipos](
	[IdPrototipo] [int] IDENTITY(1,1) NOT NULL,
	[Prototipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Prototipos] PRIMARY KEY CLUSTERED 
(
	[IdPrototipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraAnticipoFinanciero]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraAnticipoFinanciero](
	[IdRelaObraAnticipoF] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoAntFinanciero] [int] NOT NULL,
	[IdObra] [int] NOT NULL,
	[FechaAnticipo] [date] NOT NULL,
	[ImporteAnticipo] [float] NOT NULL,
	[ImporteUviAnticipo] [float] NULL,
 CONSTRAINT [PK_relaObraAnticipoFinanciero] PRIMARY KEY CLUSTERED 
(
	[IdRelaObraAnticipoF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraAportes]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraAportes](
	[IdRelaAportesObra] [int] IDENTITY(1,1) NOT NULL,
	[Idaportes] [int] NOT NULL,
	[IdObra] [int] NOT NULL,
	[FechaAporte] [date] NOT NULL,
	[ImporteAporte] [float] NOT NULL,
	[ImpAporteUVI] [float] NOT NULL,
 CONSTRAINT [PK_relaObraAportes] PRIMARY KEY CLUSTERED 
(
	[IdRelaAportesObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraCertificado]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraCertificado](
	[IdrelaObraCertificado] [int] IDENTITY(1,1) NOT NULL,
	[FechaPresentacion] [date] NOT NULL,
	[IdTipoCertificado] [int] NOT NULL,
	[IdObra] [int] NOT NULL,
	[Certificado] [nchar](50) NOT NULL,
 CONSTRAINT [PK_relaObraCertificado2] PRIMARY KEY CLUSTERED 
(
	[IdrelaObraCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraContratados]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraContratados](
	[IdrelaObraContratado] [int] IDENTITY(1,1) NOT NULL,
	[IdObra] [int] NULL,
	[IdPersona] [int] NULL,
	[FechaDesde] [date] NULL,
	[FechaHasta] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraEqInformatico]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraEqInformatico](
	[IdrelaObraEqInformatico] [int] NOT NULL,
	[IdEquipoInformatico] [int] NULL,
	[IdObra] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraMovilidad]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraMovilidad](
	[IdrelaObraMovilidad] [int] IDENTITY(1,1) NOT NULL,
	[FechaDesde] [date] NULL,
	[FechaHasta] [date] NULL,
	[IdMovilidad] [int] NULL,
	[IdObra] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaObraPrototipo]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaObraPrototipo](
	[IdrelaObraPrototipo] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[IdObra] [int] NULL,
	[IdPrototipo] [int] NULL,
	[CantidadParaSorteo] [int] NULL,
 CONSTRAINT [PK_relaObraPrototipo] PRIMARY KEY CLUSTERED 
(
	[IdrelaObraPrototipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relaSeguimientoPersona]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaSeguimientoPersona](
	[IdRelaseguimientoPersona] [int] IDENTITY(1,1) NOT NULL,
	[IdRolSeguimiento] [int] NOT NULL,
	[IdSeguimiento] [int] NOT NULL,
	[IdPersona] [int] NOT NULL,
 CONSTRAINT [PK_relaSeguimientoPersona] PRIMARY KEY CLUSTERED 
(
	[IdRelaseguimientoPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolSeguimiento]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolSeguimiento](
	[IdRolSeguimiento] [int] IDENTITY(1,1) NOT NULL,
	[RolSeguimiento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_rolSeguimiento] PRIMARY KEY CLUSTERED 
(
	[IdRolSeguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimiento]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimiento](
	[IdSeguimiento] [int] IDENTITY(1,1) NOT NULL,
	[FechaSeguimiento] [date] NOT NULL,
	[IdObra] [int] NOT NULL,
	[IdEstadoObra] [int] NOT NULL,
 CONSTRAINT [PK_Seguimiento] PRIMARY KEY CLUSTERED 
(
	[IdSeguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAnticipoFinanciero]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAnticipoFinanciero](
	[IdTipoAntFinanciero] [int] IDENTITY(1,1) NOT NULL,
	[TipoAntFinanciero] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TipoAnticipoFinanciero] PRIMARY KEY CLUSTERED 
(
	[IdTipoAntFinanciero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAportes]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAportes](
	[IdAportes] [int] IDENTITY(1,1) NOT NULL,
	[AportesDesc] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TipoAportes] PRIMARY KEY CLUSTERED 
(
	[IdAportes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCertificado]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCertificado](
	[IdTipoCertificado] [int] IDENTITY(1,1) NOT NULL,
	[TipoCertificado] [varchar](100) NOT NULL,
	[idTipoCertificadoCat] [int] NOT NULL,
 CONSTRAINT [PK_TipoCertificado] PRIMARY KEY CLUSTERED 
(
	[IdTipoCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCertificadoCat]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCertificadoCat](
	[idCatCertificado] [int] IDENTITY(1,1) NOT NULL,
	[CatCertificado] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TipoCertificadoCat] PRIMARY KEY CLUSTERED 
(
	[idCatCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCertPagoRubro]    Script Date: 6/3/2019 12:15:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCertPagoRubro](
	[IdTipoCertPagoRubro] [int] IDENTITY(1,1) NOT NULL,
	[TipoCertPagoRubro] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TipoCertPagoRubro] PRIMARY KEY CLUSTERED 
(
	[IdTipoCertPagoRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'598541c2-d7fe-4f63-98c1-90a615ed98d5', N'jamarfil16123@gmail.com', 0, N'AM3tAHTXFM+t65tR1hTvCSXjKGsNG87cJfPABsjjCyMxFCHiGFVhoemB4EeW0KKBzA==', N'2f749fa5-9383-4987-8a2f-3d86ffdc4c13', NULL, 0, 0, NULL, 1, 0, N'jamarfil16123@gmail.com')
SET IDENTITY_INSERT [dbo].[Avance] ON 

INSERT [dbo].[Avance] ([IdAvance], [porcentajePrevisto], [porcentajeReal], [porcentajeAtraso], [IdObra], [FechaAvance]) VALUES (2, 15, 13, 2, 3, CAST(N'2019-01-02' AS Date))
INSERT [dbo].[Avance] ([IdAvance], [porcentajePrevisto], [porcentajeReal], [porcentajeAtraso], [IdObra], [FechaAvance]) VALUES (3, 15, 10, 5, 2, CAST(N'2019-01-10' AS Date))
INSERT [dbo].[Avance] ([IdAvance], [porcentajePrevisto], [porcentajeReal], [porcentajeAtraso], [IdObra], [FechaAvance]) VALUES (4, 30, 30, 0, 2, CAST(N'2019-01-29' AS Date))
SET IDENTITY_INSERT [dbo].[Avance] OFF
SET IDENTITY_INSERT [dbo].[DptoProvincia] ON 

INSERT [dbo].[DptoProvincia] ([IdDptoProvincia], [DptoProvincia]) VALUES (1, N'Capital')
INSERT [dbo].[DptoProvincia] ([IdDptoProvincia], [DptoProvincia]) VALUES (2, N'San Martin')
INSERT [dbo].[DptoProvincia] ([IdDptoProvincia], [DptoProvincia]) VALUES (3, N'Sarmiento')
SET IDENTITY_INSERT [dbo].[DptoProvincia] OFF
SET IDENTITY_INSERT [dbo].[EmpresaConstructora] ON 

INSERT [dbo].[EmpresaConstructora] ([IdEmpConstructora], [EmpresaConstructora]) VALUES (1, N'SICON')
INSERT [dbo].[EmpresaConstructora] ([IdEmpConstructora], [EmpresaConstructora]) VALUES (2, N'PERFIL')
INSERT [dbo].[EmpresaConstructora] ([IdEmpConstructora], [EmpresaConstructora]) VALUES (3, N'NACUSI 2')
SET IDENTITY_INSERT [dbo].[EmpresaConstructora] OFF
SET IDENTITY_INSERT [dbo].[Entregas] ON 

INSERT [dbo].[Entregas] ([IdEntrega], [FechaEntrega], [CantEntregada], [IdrelaObraPrototipo]) VALUES (5, CAST(N'2019-01-02' AS Date), 99, 1)
INSERT [dbo].[Entregas] ([IdEntrega], [FechaEntrega], [CantEntregada], [IdrelaObraPrototipo]) VALUES (12, CAST(N'2019-02-27' AS Date), 10, 22)
SET IDENTITY_INSERT [dbo].[Entregas] OFF
SET IDENTITY_INSERT [dbo].[EstadoObra] ON 

INSERT [dbo].[EstadoObra] ([IdEstadoObra], [EstadoObra]) VALUES (1, N'En Ejecución')
INSERT [dbo].[EstadoObra] ([IdEstadoObra], [EstadoObra]) VALUES (2, N'En Proceso de Adjudicación')
INSERT [dbo].[EstadoObra] ([IdEstadoObra], [EstadoObra]) VALUES (3, N'En Proyecto')
SET IDENTITY_INSERT [dbo].[EstadoObra] OFF
SET IDENTITY_INSERT [dbo].[Obra] ON 

INSERT [dbo].[Obra] ([IdObra], [expMatriz], [Obra], [ACCU], [IdDptoProvincia], [IdPrograma], [IdEmpConstructora], [cantParaSorteo], [montoOriginal], [licitacionResolucion], [plazoOriginal], [fechaFinalizacion], [MontoContratoPesos], [MontoContratoUVI], [FechaOferta], [FechaInicio]) VALUES (2, N'500-453545345', N'Barrio Maipu', N'1000', 1, 1, 2, 150, 5000, N'4234234', 400, CAST(N'2020-01-22' AS Date), 10000, 10000, CAST(N'2020-01-16' AS Date), CAST(N'2020-01-08' AS Date))
INSERT [dbo].[Obra] ([IdObra], [expMatriz], [Obra], [ACCU], [IdDptoProvincia], [IdPrograma], [IdEmpConstructora], [cantParaSorteo], [montoOriginal], [licitacionResolucion], [plazoOriginal], [fechaFinalizacion], [MontoContratoPesos], [MontoContratoUVI], [FechaOferta], [FechaInicio]) VALUES (3, N'500-15615-5156', N'Barrio Solares de San Juan', N'1500', 1, 1, 2, 200, 15000, N'4234234', 500, CAST(N'2019-01-31' AS Date), 10000, 15000, CAST(N'2019-01-15' AS Date), CAST(N'2018-12-04' AS Date))
INSERT [dbo].[Obra] ([IdObra], [expMatriz], [Obra], [ACCU], [IdDptoProvincia], [IdPrograma], [IdEmpConstructora], [cantParaSorteo], [montoOriginal], [licitacionResolucion], [plazoOriginal], [fechaFinalizacion], [MontoContratoPesos], [MontoContratoUVI], [FechaOferta], [FechaInicio]) VALUES (4, N'500-4535-1516', N'Barrio Santa Barbara 2', N'1000', 11, 3, 3, 100, 1500000, N'Resolucion 12212', 365, CAST(N'2019-04-25' AS Date), 10000, 10000, CAST(N'2019-01-16' AS Date), CAST(N'2019-01-29' AS Date))
SET IDENTITY_INSERT [dbo].[Obra] OFF
INSERT [dbo].[Param_Meses] ([IdMes], [Mes]) VALUES (1, N'Enero                                             ')
INSERT [dbo].[Param_Meses] ([IdMes], [Mes]) VALUES (2, N'Febrero                                           ')
INSERT [dbo].[Param_Meses] ([IdMes], [Mes]) VALUES (3, N'Marzo                                             ')
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([IdPersona], [ApellidoNombre], [Documento]) VALUES (1, N'Jose Antonio Amarfil Aguirre', N'35851601')
INSERT [dbo].[Personas] ([IdPersona], [ApellidoNombre], [Documento]) VALUES (2, N'Luis Aldo Días', N'20130004')
INSERT [dbo].[Personas] ([IdPersona], [ApellidoNombre], [Documento]) VALUES (3, N'Hector Paez', N'20156156')
SET IDENTITY_INSERT [dbo].[Personas] OFF
SET IDENTITY_INSERT [dbo].[Programa] ON 

INSERT [dbo].[Programa] ([IdPrograma], [Programa]) VALUES (1, N'PROGRAMA FEDERAL  DE CONSTRUCCION "TECHO DIGNO"')
INSERT [dbo].[Programa] ([IdPrograma], [Programa]) VALUES (2, N'PROMEBA NACION')
INSERT [dbo].[Programa] ([IdPrograma], [Programa]) VALUES (3, N'FONAVI II')
SET IDENTITY_INSERT [dbo].[Programa] OFF
SET IDENTITY_INSERT [dbo].[Prototipos] ON 

INSERT [dbo].[Prototipos] ([IdPrototipo], [Prototipo]) VALUES (1, N'Monoblock')
INSERT [dbo].[Prototipos] ([IdPrototipo], [Prototipo]) VALUES (2, N'Casa de 2 Habitaciones')
INSERT [dbo].[Prototipos] ([IdPrototipo], [Prototipo]) VALUES (3, N'Departamento')
SET IDENTITY_INSERT [dbo].[Prototipos] OFF
SET IDENTITY_INSERT [dbo].[relaObraPrototipo] ON 

INSERT [dbo].[relaObraPrototipo] ([IdrelaObraPrototipo], [Cantidad], [IdObra], [IdPrototipo], [CantidadParaSorteo]) VALUES (1, 150, 2, 3, 150)
INSERT [dbo].[relaObraPrototipo] ([IdrelaObraPrototipo], [Cantidad], [IdObra], [IdPrototipo], [CantidadParaSorteo]) VALUES (3, 300, 3, 2, 295)
INSERT [dbo].[relaObraPrototipo] ([IdrelaObraPrototipo], [Cantidad], [IdObra], [IdPrototipo], [CantidadParaSorteo]) VALUES (4, 4, 2, 3, 555)
SET IDENTITY_INSERT [dbo].[relaObraPrototipo] OFF
SET IDENTITY_INSERT [dbo].[relaSeguimientoPersona] ON 

INSERT [dbo].[relaSeguimientoPersona] ([IdRelaseguimientoPersona], [IdRolSeguimiento], [IdSeguimiento], [IdPersona]) VALUES (1, 1, 5, 1)
INSERT [dbo].[relaSeguimientoPersona] ([IdRelaseguimientoPersona], [IdRolSeguimiento], [IdSeguimiento], [IdPersona]) VALUES (2, 1, 3, 1)
INSERT [dbo].[relaSeguimientoPersona] ([IdRelaseguimientoPersona], [IdRolSeguimiento], [IdSeguimiento], [IdPersona]) VALUES (3, 2, 3, 2)
SET IDENTITY_INSERT [dbo].[relaSeguimientoPersona] OFF
SET IDENTITY_INSERT [dbo].[rolSeguimiento] ON 

INSERT [dbo].[rolSeguimiento] ([IdRolSeguimiento], [RolSeguimiento]) VALUES (1, N'Inspector')
INSERT [dbo].[rolSeguimiento] ([IdRolSeguimiento], [RolSeguimiento]) VALUES (2, N'Sobrestante')
SET IDENTITY_INSERT [dbo].[rolSeguimiento] OFF
SET IDENTITY_INSERT [dbo].[Seguimiento] ON 

INSERT [dbo].[Seguimiento] ([IdSeguimiento], [FechaSeguimiento], [IdObra], [IdEstadoObra]) VALUES (1, CAST(N'2019-01-29' AS Date), 3, 1)
INSERT [dbo].[Seguimiento] ([IdSeguimiento], [FechaSeguimiento], [IdObra], [IdEstadoObra]) VALUES (3, CAST(N'2019-01-30' AS Date), 2, 2)
INSERT [dbo].[Seguimiento] ([IdSeguimiento], [FechaSeguimiento], [IdObra], [IdEstadoObra]) VALUES (5, CAST(N'2019-01-31' AS Date), 2, 6)
SET IDENTITY_INSERT [dbo].[Seguimiento] OFF
SET IDENTITY_INSERT [dbo].[TipoAnticipoFinanciero] ON 

INSERT [dbo].[TipoAnticipoFinanciero] ([IdTipoAntFinanciero], [TipoAntFinanciero]) VALUES (1, N'NACION - PFPCV                                    ')
INSERT [dbo].[TipoAnticipoFinanciero] ([IdTipoAntFinanciero], [TipoAntFinanciero]) VALUES (2, N'NACION - SPFMHUOIyC                               ')
INSERT [dbo].[TipoAnticipoFinanciero] ([IdTipoAntFinanciero], [TipoAntFinanciero]) VALUES (3, N'REDE - PFPCV                                      ')
SET IDENTITY_INSERT [dbo].[TipoAnticipoFinanciero] OFF
SET IDENTITY_INSERT [dbo].[TipoAportes] ON 

INSERT [dbo].[TipoAportes] ([IdAportes], [AportesDesc]) VALUES (1, N'NACION - PFPCV                                    ')
INSERT [dbo].[TipoAportes] ([IdAportes], [AportesDesc]) VALUES (2, N'NACION - SPFMHUOIyC                               ')
INSERT [dbo].[TipoAportes] ([IdAportes], [AportesDesc]) VALUES (3, N'PROVINCIA                                         ')
SET IDENTITY_INSERT [dbo].[TipoAportes] OFF
SET IDENTITY_INSERT [dbo].[TipoCertificado] ON 

INSERT [dbo].[TipoCertificado] ([IdTipoCertificado], [TipoCertificado], [idTipoCertificadoCat]) VALUES (1, N'Especif. Técnicas de Urbanización', 1)
INSERT [dbo].[TipoCertificado] ([IdTipoCertificado], [TipoCertificado], [idTipoCertificadoCat]) VALUES (2, N'Especif. Técnicas de Infraestructura', 1)
INSERT [dbo].[TipoCertificado] ([IdTipoCertificado], [TipoCertificado], [idTipoCertificadoCat]) VALUES (3, N'Plano de Mensura y División', 1)
SET IDENTITY_INSERT [dbo].[TipoCertificado] OFF
SET IDENTITY_INSERT [dbo].[TipoCertificadoCat] ON 

INSERT [dbo].[TipoCertificadoCat] ([idCatCertificado], [CatCertificado]) VALUES (1, N'Carpeta Final de Obra                             ')
INSERT [dbo].[TipoCertificadoCat] ([idCatCertificado], [CatCertificado]) VALUES (2, N'Certificados                                      ')
INSERT [dbo].[TipoCertificadoCat] ([idCatCertificado], [CatCertificado]) VALUES (3, N'Final de Vivienda                                 ')
SET IDENTITY_INSERT [dbo].[TipoCertificadoCat] OFF
SET IDENTITY_INSERT [dbo].[TipoCertPagoRubro] ON 

INSERT [dbo].[TipoCertPagoRubro] ([IdTipoCertPagoRubro], [TipoCertPagoRubro]) VALUES (1, N'Vivienda                                          ')
INSERT [dbo].[TipoCertPagoRubro] ([IdTipoCertPagoRubro], [TipoCertPagoRubro]) VALUES (2, N'Infraestructura                                   ')
INSERT [dbo].[TipoCertPagoRubro] ([IdTipoCertPagoRubro], [TipoCertPagoRubro]) VALUES (3, N'Nexo                                              ')
SET IDENTITY_INSERT [dbo].[TipoCertPagoRubro] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Avance]  WITH CHECK ADD  CONSTRAINT [FK_Avance_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[Avance] CHECK CONSTRAINT [FK_Avance_Obra]
GO
ALTER TABLE [dbo].[CertificadoObra]  WITH CHECK ADD  CONSTRAINT [FK_CertificadoObra_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[CertificadoObra] CHECK CONSTRAINT [FK_CertificadoObra_Obra]
GO
ALTER TABLE [dbo].[CertificadoPago]  WITH CHECK ADD  CONSTRAINT [FK_CertificadoPago_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[CertificadoPago] CHECK CONSTRAINT [FK_CertificadoPago_Obra]
GO
ALTER TABLE [dbo].[CertificadoPago]  WITH CHECK ADD  CONSTRAINT [FK_CertificadoPago_Param_Meses] FOREIGN KEY([CorrespMes])
REFERENCES [dbo].[Param_Meses] ([IdMes])
GO
ALTER TABLE [dbo].[CertificadoPago] CHECK CONSTRAINT [FK_CertificadoPago_Param_Meses]
GO
ALTER TABLE [dbo].[CertificadoPagoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CertificadoPagoDetalle_CertificadoPago] FOREIGN KEY([IdCertPago])
REFERENCES [dbo].[CertificadoPago] ([IdCertPago])
GO
ALTER TABLE [dbo].[CertificadoPagoDetalle] CHECK CONSTRAINT [FK_CertificadoPagoDetalle_CertificadoPago]
GO
ALTER TABLE [dbo].[CertificadoPagoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CertificadoPagoDetalle_TipoCertPagoRubro] FOREIGN KEY([IdRubro])
REFERENCES [dbo].[TipoCertPagoRubro] ([IdTipoCertPagoRubro])
GO
ALTER TABLE [dbo].[CertificadoPagoDetalle] CHECK CONSTRAINT [FK_CertificadoPagoDetalle_TipoCertPagoRubro]
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD  CONSTRAINT [FK_Entregas_relaObraPrototipo] FOREIGN KEY([IdrelaObraPrototipo])
REFERENCES [dbo].[relaObraPrototipo] ([IdrelaObraPrototipo])
GO
ALTER TABLE [dbo].[Entregas] CHECK CONSTRAINT [FK_Entregas_relaObraPrototipo]
GO
ALTER TABLE [dbo].[Obra]  WITH CHECK ADD  CONSTRAINT [FK_Obra_DptoProvincia] FOREIGN KEY([IdDptoProvincia])
REFERENCES [dbo].[DptoProvincia] ([IdDptoProvincia])
GO
ALTER TABLE [dbo].[Obra] CHECK CONSTRAINT [FK_Obra_DptoProvincia]
GO
ALTER TABLE [dbo].[Obra]  WITH CHECK ADD  CONSTRAINT [FK_Obra_EmpresaConstructora] FOREIGN KEY([IdEmpConstructora])
REFERENCES [dbo].[EmpresaConstructora] ([IdEmpConstructora])
GO
ALTER TABLE [dbo].[Obra] CHECK CONSTRAINT [FK_Obra_EmpresaConstructora]
GO
ALTER TABLE [dbo].[Obra]  WITH CHECK ADD  CONSTRAINT [FK_Obra_Programa] FOREIGN KEY([IdPrograma])
REFERENCES [dbo].[Programa] ([IdPrograma])
GO
ALTER TABLE [dbo].[Obra] CHECK CONSTRAINT [FK_Obra_Programa]
GO
ALTER TABLE [dbo].[relaObraAnticipoFinanciero]  WITH CHECK ADD  CONSTRAINT [FK_relaObraAnticipoFinanciero_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[relaObraAnticipoFinanciero] CHECK CONSTRAINT [FK_relaObraAnticipoFinanciero_Obra]
GO
ALTER TABLE [dbo].[relaObraAnticipoFinanciero]  WITH CHECK ADD  CONSTRAINT [FK_relaObraAnticipoFinanciero_TipoAnticipoFinanciero] FOREIGN KEY([IdTipoAntFinanciero])
REFERENCES [dbo].[TipoAnticipoFinanciero] ([IdTipoAntFinanciero])
GO
ALTER TABLE [dbo].[relaObraAnticipoFinanciero] CHECK CONSTRAINT [FK_relaObraAnticipoFinanciero_TipoAnticipoFinanciero]
GO
ALTER TABLE [dbo].[relaObraAportes]  WITH CHECK ADD  CONSTRAINT [FK_relaObraAportes_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[relaObraAportes] CHECK CONSTRAINT [FK_relaObraAportes_Obra]
GO
ALTER TABLE [dbo].[relaObraAportes]  WITH CHECK ADD  CONSTRAINT [FK_relaObraAportes_TipoAportes] FOREIGN KEY([Idaportes])
REFERENCES [dbo].[TipoAportes] ([IdAportes])
GO
ALTER TABLE [dbo].[relaObraAportes] CHECK CONSTRAINT [FK_relaObraAportes_TipoAportes]
GO
ALTER TABLE [dbo].[relaObraCertificado]  WITH CHECK ADD  CONSTRAINT [FK_relaObraCertificado2_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[relaObraCertificado] CHECK CONSTRAINT [FK_relaObraCertificado2_Obra]
GO
ALTER TABLE [dbo].[relaObraCertificado]  WITH CHECK ADD  CONSTRAINT [FK_relaObraCertificado2_TipoCertificado] FOREIGN KEY([IdTipoCertificado])
REFERENCES [dbo].[TipoCertificado] ([IdTipoCertificado])
GO
ALTER TABLE [dbo].[relaObraCertificado] CHECK CONSTRAINT [FK_relaObraCertificado2_TipoCertificado]
GO
ALTER TABLE [dbo].[relaObraPrototipo]  WITH CHECK ADD  CONSTRAINT [FK_relaObraPrototipo_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[relaObraPrototipo] CHECK CONSTRAINT [FK_relaObraPrototipo_Obra]
GO
ALTER TABLE [dbo].[relaObraPrototipo]  WITH CHECK ADD  CONSTRAINT [FK_relaObraPrototipo_Prototipos] FOREIGN KEY([IdPrototipo])
REFERENCES [dbo].[Prototipos] ([IdPrototipo])
GO
ALTER TABLE [dbo].[relaObraPrototipo] CHECK CONSTRAINT [FK_relaObraPrototipo_Prototipos]
GO
ALTER TABLE [dbo].[relaSeguimientoPersona]  WITH CHECK ADD  CONSTRAINT [FK_relaSeguimientoPersona_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[relaSeguimientoPersona] CHECK CONSTRAINT [FK_relaSeguimientoPersona_Personas]
GO
ALTER TABLE [dbo].[relaSeguimientoPersona]  WITH CHECK ADD  CONSTRAINT [FK_relaSeguimientoPersona_rolSeguimiento] FOREIGN KEY([IdRolSeguimiento])
REFERENCES [dbo].[rolSeguimiento] ([IdRolSeguimiento])
GO
ALTER TABLE [dbo].[relaSeguimientoPersona] CHECK CONSTRAINT [FK_relaSeguimientoPersona_rolSeguimiento]
GO
ALTER TABLE [dbo].[relaSeguimientoPersona]  WITH CHECK ADD  CONSTRAINT [FK_relaSeguimientoPersona_Seguimiento] FOREIGN KEY([IdSeguimiento])
REFERENCES [dbo].[Seguimiento] ([IdSeguimiento])
GO
ALTER TABLE [dbo].[relaSeguimientoPersona] CHECK CONSTRAINT [FK_relaSeguimientoPersona_Seguimiento]
GO
ALTER TABLE [dbo].[Seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_Seguimiento_Obra] FOREIGN KEY([IdObra])
REFERENCES [dbo].[Obra] ([IdObra])
GO
ALTER TABLE [dbo].[Seguimiento] CHECK CONSTRAINT [FK_Seguimiento_Obra]
GO
ALTER TABLE [dbo].[TipoCertificado]  WITH CHECK ADD  CONSTRAINT [FK_TipoCertificado_TipoCertificadoCat] FOREIGN KEY([idTipoCertificadoCat])
REFERENCES [dbo].[TipoCertificadoCat] ([idCatCertificado])
GO
ALTER TABLE [dbo].[TipoCertificado] CHECK CONSTRAINT [FK_TipoCertificado_TipoCertificadoCat]
GO
