@model WebAppEjecucion.Models.EmpresaConstructora

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Empresa</h2>

<div>
    <h4>Empresa Constructora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre de empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaConstructora1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atras", "Index", null, null, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Editar", "Edit",null, new { id = Model.IdEmpConstructora }, new { @class = "btn btn-primary" }) 
</p>
